@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">PROJETO ELEVADOR_LUCAS FLORES</h1>
</div>

<p>Este projeto será um software que tem como função o gerenciamento de um elevador e terá as funções de inicializar, entrar, sair, subir e descer.  </p>
<p>Inicialmente ele pede os parâmetros do sistema e de acordo com o Menu, Você conseguira interagir com o programa.</p>

